@model MVC.Models.LoginViewModel
<style>
    input[type="text"],
    input[type="password"],
    input[type="email"],
    textarea {
        text-transform: none;
    }
</style>

<div class="content">
    <div class="container">
        <div class="box">
            <div class="row">
                <div class="col-lg-offset-1 col-lg-5 col-md-offset-1 col-md-5 col-sm-12 col-xs-12 ">
                    <div class="box-body">
                        <div class="row">
                            <div class="col-lg-12 col-md-12 col-sm-6 col-xs-12 mb20">
                                <h3 class="mb10">Đăng nhập</h3>
                            </div>
                            <!-- form -->
                            <form method="post" asp-action="Login">
                                <div class="form-group">
                                    <label asp-for="Username" class="control-label"></label>
                                    <input asp-for="Username" class="form-control" />
                                    <span asp-validation-for="Username" class="text-danger"></span>
                                </div>

                                <div class="form-group">
                                    <label asp-for="Password" class="control-label"></label>
                                    <input asp-for="Password" class="form-control" />
                                    <span asp-validation-for="Password" class="text-danger"></span>
                                </div>
                                <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 mb20 ">
                                <button type="submit" class="btn btn-primary">Đăng Nhập</button>
                                <div style="margin: 0 auto; width: 50%">
                                        <a asp-area="" asp-controller="Account" asp-action="Register" style="margin-right: 40px;" class="text-blue">Đăng ký</a>
                                    <a href="forgot-password.html" class="text-blue">Quên mật khẩu </a>
                                </div>
                                </div>
                            </form>

                            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12 ">
                                <h4 class="mb20">Hoặc đăng nhập với</h4>
                                <div class="social-media">
                                    <a href="#" class="btn-social-rectangle btn-facebook">
                                        <i class="fa fa-facebook"></i><span class="social-text">Facebook</span>
                                    </a>
                                    <a href="#" class="btn-social-rectangle btn-twitter">
                                        <i class="fa fa-twitter"></i><span class="social-text">Twitter</span>
                                    </a>
                                    <a href="#" class="btn-social-rectangle btn-googleplus">
                                        <i class="fa fa-google-plus"></i><span class="social-text">
                                            Google
                                            Plus
                                        </span>
                                    </a>
                                </div>
                            </div>
                            <!-- /.form -->
                        </div>
                    </div>
                </div>
                <!-- features -->
                <div class="col-lg-5 col-md-5 col-sm-12 col-xs-12 ">
                    <div class="box-body">
                        <div class="feature-left">
                            <div class="feature-icon">
                                <img src="images/feature_icon_1.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Mức độ uy tín!</h4>
                                <p>Được đánh giá an toàn, tin cậy hàng đầu Việt Nam với nhiều chính sách hỗ trợ chăm sóc khách hàng.</p>
                            </div>
                        </div>
                        <div class="feature-left">
                            <div class="feature-icon">
                                <img src="images/feature_icon_2.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Thanh toán tức thì!</h4>
                                <p>
                                    Thanh toán mọi nơi mọi lúc, giao dịch nhanh gọn, bảo đảm, an toàn, với liên kết 90% ngân hàng, ví tiền, VISA trong toàn quốc!
                                </p>
                            </div>
                        </div>
                        <div class="feature-left">
                            <div class="feature-icon">
                                <img src="images/feature_icon_3.png" alt="">
                            </div>
                            <div class="feature-content">
                                <h4>Ưu đãi hấp dẫn!</h4>
                                <p>
                                    Với mong muốn làm hài lòng khách hàng, Mobistore luôn mang đến những ưu đãi cực kỳ tốt với chất lượng cao
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.features -->
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }

}
