<!DOCTYPE html>
<html lang="en">


<!-- Mirrored from easetemplate.com/free-website-templates/mobistore/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Nov 2021 09:40:15 GMT -->
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="create ecommerce website template for your online store, responsive mobile templates">
    <meta name="keywords" content="ecommerce website templates, online store,">
    <title>Team Laker</title>
    <!-- Bootstrapppppp -->
    <link href="~/WebAPI/css/bootstrap.min.css" rel="stylesheet">
    <!-- Style CSS -->
    <link href="~/WebAPI/css/style.css" rel="stylesheet">
    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto+Condensed:300,300i,400,400i,700,700i" rel="stylesheet">
    <!-- owl-carousel -->
    <link href="~/WebAPI/css/owl.carousel.css" rel="stylesheet">
    <link href="~/WebAPI/css/owl.theme.default.css" rel="stylesheet">
    <!-- FontAwesome CSS -->
    <link href="css/font-awesome.min.css" rel="stylesheet">
    <link href="~/WebAPI/css/font-awesome.min.css" rel="stylesheet">
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
    <style>

        .form-inline .form-control {
            width: 100%; 
            
        }
    </style>
</head>

<body>
    <!-- top-header-->
    <div class="top-header">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-7 col-sm-6 hidden-xs">
                    <p class="top-text">Flexible Delivery, Fast Delivery.</p>
                </div>
                <div class="col-lg-4 col-md-5 col-sm-6 col-xs-12">
                    <ul>
                        <li>+12345689</li>
                        <li>nhom2@laptrinhwebThaytan.com</li>
                    </ul>
                </div>
            </div>
            <!-- /.top-header-->
        </div>
    </div>
    <!-- header-section-->
    <div class="header-wrapper">
        <div class="container">
            <div class="row">
                <!-- logo -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-8">
                    <div class="logo">
                        <a href="index.html"><img src="~/WebAPI/images/logo.png" alt=""> </a>
                    </div>
                </div>
                <!-- /.logo -->
                <!-- search -->
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                    <div class="search-bg">
                        <form asp-action="Search" asp-controller="Home" method="get" class="form-inline my-2 my-lg-0">
                            <input type="text" class="form-control" placeholder="Search Here" name="query">
                            <button type="submit" class="btn btn-outline-success my-2 my-sm-0"><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>

                <!-- /.search -->
                <!-- account -->
                <div class="col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="account-section">
                        <ul>
                            <li><a href="account.html" class="title hidden-xs">Tài khoản</a></li>
                            <li class="hidden-xs">|</li>
                            @if (User.Identity.IsAuthenticated)
                            {
                                <li>
                                    <form asp-action="Logout" asp-controller="Account" method="post" id="logoutForm" style="display:inline;">
                                        <button type="submit" class="btn btn-link">Đăng xuất</button>
                                    </form>
                                </li>
                            }
                            else
                            {
                                <li><a href="login-form.html" class="title hidden-xs">Đăng nhập</a></li>
                            }
                            <li><a href="favorite-list.html"><i class="fa fa-heart"></i></a></li>
                            <li>
                                <a class="title"><i class="fa fa-shopping-cart"></i><sup class="cart-quantity">(1)</sup></a>
                            </li>
                        </ul>
                    </div>
                    <!-- /.account -->
                </div>
                <!-- search -->
            </div>
        </div>
        <!-- navigation -->
        <div class="navigation">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <!-- navigations-->
                        <div id="navigation">
                            <ul>
                                <li class="active">
                                    <a asp-area="" asp-controller="Home" asp-action="Index">Trang chủ </a>
                                    </li>
                                <li>
                                    <a asp-area="" asp-controller="Menu" asp-action="dienthoai">Điện Thoại</a>
                                </li>
                                <li>
                                    <a asp-area="" asp-controller="Menu" asp-action="thongtin">Thông tin</a>
                                </li>
                                <li>  <a asp-area="" asp-controller="Menu" asp-action="baiviet">Bài viết</a> </li>
                                <li>
                                    <a asp-area="" asp-controller="Menu" asp-action="contact">Liên hệ, hỗ trợ</a>
                                </li>
                                @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin@admin.com")
                                {
                                    <li>
                                        <a  id="showForm">Create Phone</a>
                                    </li>
                                }
                                @if (User.Identity.IsAuthenticated && User.Identity.Name == "admin@admin.com")
                                {
                                    <li>
                                        <a asp-area="" asp-controller="Admin" asp-action="UserList">Users</a>
                                    </li>
                                }
                            </ul>
                        </div>
                    </div>
                    <!-- /.navigations-->
                </div>
            </div>
        </div>
    </div>
    <partial name="_CreatePhonePartial" />
          @RenderBody();


    <div class="bg-default pdt40 pdb40">
        <div class="container">
            <div class="row">
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-outline-icon">
                            <i class="fa fa-credit-card"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Thanh toán an toàn</h3>
                            <p>Mang đến dịch vụ trải nghiệm thoải mái nhất, an toàn, tiện dụng, Mobistore! </p>
                        </div>
                    </div>
                </div>
                <!-- features -->
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-outline-icon">
                            <i class="fa fa-users"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Phản hồi 24/7</h3>
                            <p>Trợ giúp liên lạc, tham khảo , tra cứu 24/7!</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left feature-circle">
                        <div class="feature-outline-icon">
                            <i class="fa fa-rotate-left "></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Đổi trả miễn phí</h3>
                            <p>Miễn phí bảo hành đổi trả lên đến 365 ngày!</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
                <!-- features -->
                <div class="col-lg-3 col-md-3 col-sm-6 col-xs-12">
                    <div class="feature-left">
                        <div class="feature-outline-icon">
                            <i class="fa fa-dollar"></i>
                        </div>
                        <div class="feature-content">
                            <h3 class="text-white">Giá tốt nhất</h3>
                            <p>Giá thành tốt nhất trong thị trường. Cập nhật sản phẩm 24/7!</p>
                        </div>
                    </div>
                </div>
                <!-- features -->
            </div>
        </div>
    </div>
    <!-- /.features -->
    <!-- footer -->
    <div class="footer">
        <div class="container">
            <div class="row">
                <!-- footer-company-links -->
                <!-- footer-contact links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Thông tin hỗ trợ</h3>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-map-marker"></i></span>
                            <span class="contact-text">Phường 7,Tô Hiệu<br>Thành phố Đà Lạt, Việt Nam - 2024</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-phone"></i></span>
                            <span class="contact-text">+084-123-4567 / 89</span>
                        </div>
                        <div class="contact-info">
                            <span class="contact-icon"><i class="fa fa-envelope"></i></span>
                            <span class="contact-text">nhom21@ltweb.com</span>
                        </div>
                    </div>
                </div>
                <!-- /.footer-useful-links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Tiện ích</h3>
                        <ul class="arrow">
                            <li><a href="index.html">Home </a></li>
                            <li><a href="product-list.html">Mobie</a></li>
                            <li><a href="about.html">About</a></li>
                            <li><a href="blog-default.html">Blog</a></li>
                            <li><a href="contact-us.html">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-useful-links -->
                <!-- footer-policy-list-links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Chính sách</h3>
                        <ul class="arrow">
                            <li><a href="#">Thanh toán</a></li>
                            <li><a href="#">Hủy, trả hàng</a></li>
                            <li><a href="#">Giao hàng và vận chuyển</a></li>
                            <li><a href="#">Chính sách bảo mật</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.footer-policy-list-links -->
                <!-- footer-social links -->
                <div class=" col-lg-3 col-md-3 col-sm-3 col-xs-12">
                    <div class="footer-widget">
                        <h3 class="footer-title">Liên lạc với chúng tôi</h3>
                        <div class="ft-social">
                            <span><a href="#" class="btn-social btn-facebook"><i class="fa fa-facebook"></i></a></span>
                            <span><a href="#" class="btn-social btn-twitter"><i class="fa fa-twitter"></i></a></span>
                            <span><a href="#" class="btn-social btn-googleplus"><i class="fa fa-google-plus"></i></a></span>
                            <span><a href="#" class=" btn-social btn-linkedin"><i class="fa fa-linkedin"></i></a></span>
                            <span><a href="#" class=" btn-social btn-pinterest"><i class="fa fa-pinterest-p"></i></a></span>
                            <span><a href="#" class=" btn-social btn-instagram"><i class="fa fa-instagram"></i></a></span>
                        </div>
                    </div>
                </div>
                <!-- /.footer-social links -->
            </div>
        </div>
        <!-- tiny-footer -->
        <div class="tiny-footer">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="payment-method alignleft">
                            <ul>
                                <li><a href="#"><i class="fa fa-cc-paypal fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-mastercard  fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-visa fa-2x"></i></a></li>
                                <li><a href="#"><i class="fa fa-cc-discover fa-2x"></i></a></li>
                            </ul>
                        </div>
                        <p class="alignright">
                            Copyright © All Rights Reserved 2024 Template Design by
                            <a href="https://easetemplate.com/" target="_blank" class="copyrightlink">Nhom Laker</a>
                        </p>
                    </div>
                </div>
            </div>
            <!-- /. tiny-footer -->
        </div>
    </div>
    <!-- /.footer -->
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
   <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="~/WebAPI/js/jquery.min.js" type="text/javascript"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="~/WebAPI/js/bootstrap.min.js" type="text/javascript"></script>
    <script src="~/WebAPI/js/menumaker.js" type="text/javascript"></script>
    <script type="text/javascript" src="~/WebAPI/js/jquery.sticky.js"></script>
    <script type="text/javascript" src="~/WebAPI/js/sticky-header.js"></script>
    <script type="text/javascript" src="~/WebAPI/js/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/WebAPI/js/multiple-carousel.js"></script>
    <script>
        document.getElementById('uploadFile').onchange = function (event) {
            var reader = new FileReader();
            reader.onload = function () {
                var output = document.getElementById('previewImage');
                output.src = reader.result;
                output.style.display = 'block';
            };
            reader.readAsDataURL(event.target.files[0]);
        };


        var showForm = document.getElementById("showForm");
        var closeButton = document.getElementById("closeButton");
        var closeText = document.getElementById("closeText");
        var overlay = document.getElementById("overlay");
        var form = document.getElementById("form");
        var formContainer = document.getElementById("formContainer");
        closeButton.addEventListener("mouseenter", function () {
            closeText.style.display = "block";
            closeButton.style.display = "none";
        });

        // JavaScript to show/hide form when "Create Phone" is clicked
        showForm.addEventListener("click", function () {
            form.style.display = "block";
        });

        closeButton.addEventListener("click", function () {

            form.style.display = "none";
        });

        closeText.addEventListener("click", function () {

            form.style.display = "none";
        });
        overlay.addEventListener("click", function (event) {

            if (!formContainer.contains(event.target)) {

                form.style.display = "none";
            }
        });
    </script>
    <script>

        async function getJwtToken() {
            try {
                var response = await fetch('/Home/GetJwtToken');
                if (response.ok) {
                    var data = await response.json();
                    return data.jwtToken;
                } else {
                    console.error('Failed to get JWT token:', response.statusText);
                    return null;
                }
            } catch (error) {
                console.error('Error:', error);
                return null;
            }
        }


        document.getElementById('post').addEventListener('click', async function () {
            // Lấy dữ liệu từ các trường input
            var name = document.getElementById('name').value;
            var price = document.getElementById('price').value;
            var manufacturer = document.getElementById('manufacturer').value;
            var imageFile = document.getElementById('uploadFile').files[0];

            // Tạo đối tượng FormData để gửi dữ liệu
            var formData = new FormData();
            formData.append('Name', name);
            formData.append('Price', price);
            formData.append('Manufacturer', manufacturer);
            if (imageFile) {
                formData.append('ImageURL', imageFile);
            }

            try {
                // Lấy token từ session
                var token = await getJwtToken();
                if (!token) {
                    console.error('No JWT token found');
                    return;
                }

                var response = await fetch('https://localhost:7069/api/Phones', {
                    method: 'POST',
                    body: formData,
                    headers: {
                        'Authorization': `Bearer ${token}`
                    }
                });

                if (response.ok) {
                    // Chuyển hướng hoặc cập nhật giao diện người dùng sau khi tạo thành công
                    window.location.href = '/Home/Index';
                } else {
                    console.error('Failed to create phone:', response.statusText);
                }
            } catch (error) {
                console.error('Error:', error);
            }
        });
    </script>
    @RenderSection("Scripts", required: false)
</body>


<!-- Mirrored from easetemplate.com/free-website-templates/mobistore/ by HTTrack Website Copier/3.x [XR&CO'2014], Fri, 19 Nov 2021 09:40:40 GMT -->
</html>
